<%- include('partials/header.ejs') %>

<div class="container">
    <br>
    <div class="card">
      <div class="card-body">
        <h1>MyPress</h1>
      </div>
    </div>
    <br>
</div>

<%- include('partials/footer.ejs') %>