<%- include('../../partials/header.ejs') %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <!-- <img src="/img/ask_logo.png" width="150" alt=""> -->
    NodePress
  </a>
</nav>

<div class="container">
  <hr>
  <div class="card">
    <div class="card-header">
      <h2>Login de admin</h2>
    </div>
    <div class="card-body">
      <form action="/authenticate" method="POST">
        <input type="email" class="form-control" name="email" placeholder="Digite seu email">
        <br>
        <input type="text" class="form-control" name="password" placeholder="Digite sua senha">
        <br>
        <button class="btn btn-success btn-block">Login</button>
      </form>
    </div>
  </div>
</div>

<%- include('../../partials/footer.ejs') %>